# Knowledge Graphs Introduction.

The [slides from NEO4j](https://www.slideshare.net/neo4j/knowledge-graphs-the-power-of-graphbased-search?from_action=save) are a good point to start.
I strongly recommend you to explore these slides:
* 3-7
* 23-25
* 32-34

This [slides from Microsoft](https://kdd2018tutorialt39.azurewebsites.net/KDD%20Tutorial%20T39.pdf) are more academic but they pinpoint the actual research topics on the field.

# Neo4j

You *need* to set up Neo4j, follow the [README](readme.md) instructions.

In [14]:
from neo4j import GraphDatabase
from json import dumps
import time
from pandas import DataFrame
from pandas import read_json
import requests
import jmespath

In [3]:
class KnowledgeRecommendation(object):

    def __init__(self, uri, user, password):
        self._driver = GraphDatabase.driver(uri, auth=(user, password))
        self.session = self._driver.session()

    def close(self):
        self._driver.close()
    
    def serialize_movie(self,movie):
        return {
            'id': movie['id'],
            'title': movie['title'],
#             'summary': movie['description'],
            'released': movie.get('releaseDate'),
            'duration': movie['runtime'],
            'rated': movie['rated'],
            'imdbId': movie['imdbId'],
            'genre': movie['genre']
        }
    
    def movie(self,title):
        query = ('MATCH (movie:Movie) ' +
                 f'WHERE movie.title =~ "{title}" ' +
                 'RETURN movie')
        results = self.session.run(query)
        return [self.serialize_movie(record['movie']) for record in results.data()]
    
    def same_genre_movies(self, title):
        query = ('MATCH (movie:Movie) ' +
                 f'WHERE movie.title = "{title}" '+
                'WITH movie.genre as genre '+
                'MATCH (movies:Movie) '+
                'WHERE movies.genre = genre '+
                'RETURN movies.title, movies.releaseDate, movies.genre, movies.imdbId '+
                'LIMIT 100')
        results = self.session.run(query)
#         return [self.serialize_movie(record['movies']) for record in results.data()] # you should only return movies
        return results.data()
    
    def movies_by_movie_director(self, title):
        query = ('MATCH (movie:Movie)<-[:DIRECTED]-(director:Director) '+
                f'WHERE movie.title = "{title}" '+
                'MATCH (movies:Movie)<-[:DIRECTED]-(director) '+
                'RETURN movies.title, movies.releaseDate, movies.genre, movies.imdbId '+
                'LIMIT 100')
        results = self.session.run(query)
        return results.data()
    
    def movies_by_actor(self,actor):
        query = ('MATCH (movies:Movie)<-[:ACTS_IN]-(actor:Actor) '+
                f'WHERE actor.name = "{actor}" '+
                'RETURN movies.title, movies.releaseDate, movies.genre, movies.imdbId ')
        results = self.session.run(query)
        return results.data()
    
    def movies_by_actor_and_genre(self,actor, genre):
        query = ('MATCH (movies:Movie)<-[:ACTS_IN]-(actor:Actor) '+
                f'WHERE actor.name = "{actor}" and movies.genre="{genre}" '+
                'RETURN movies.title, movies.releaseDate, movies.genre, movies.imdbId ')
        results = self.session.run(query)
        return results.data()
    
    def movies_shared_actors_with_genre(self,actor, genre):
        query = ('MATCH (actor:Actor)-[:ACTS_IN]->(movie:Movie)<-[:ACTS_IN]-(actors:Actor) ' +
            f'WHERE actor.name = "{actor}" ' +
            'WITH actors ' +
            'MATCH (actors)-[:ACTS_IN]->(movies:Movie) ' +
           f'WHERE movies.genre="{genre}" ' +
            'RETURN movies.title, movies.releaseDate, movies.genre, movies.imdbId ' +
            'LIMIT 100 ' )
        print(query)
        results = self.session.run(query)
        return results.data()
        
    
graph = KnowledgeRecommendation("bolt://localhost:11004", "neo4j", "123456")

In [4]:
avatar = graph.movie("Jurassic Park")
print(avatar)

[{'id': '329', 'title': 'Jurassic Park', 'released': '739749600000', 'duration': 127, 'rated': None, 'imdbId': 'tt0107290', 'genre': 'Action'}]

In [5]:
other_movies = graph.same_genre_movies("Jurassic Park")
DataFrame(other_movies)

,movies.genre,movies.imdbId,movies.releaseDate,movies.title
0,Action,tt0499549,1261090800000,Avatar
1,Action,tt0093058,551656800000,Full Metal Jacket
2,Action,tt0083866,391212000000,E.T.: The Extra-Terrestrial
3,Action,tt0116629,835653600000,Independence Day
4,Action,tt0133093,922831200000,The Matrix
5,Action,tt0234215,1052258400000,The Matrix Reloaded
6,Action,tt0242653,1067209200000,The Matrix Revolutions
7,Action,tt0119654,867708000000,Men In Black
8,Action,tt0120912,1025647200000,Men In Black II
9,Action,tt0109830,772322400000,Forrest Gump
10,Action,tt0076759,233362800000,Star Wars: Episode IV - A New Hope
11,Action,tt0120915,927064800000,Star Wars: Episode I - The Phantom Menace
12,Action,tt0086190,422661600000,Star Wars: Episode VI - Return of the Jedi
13,Action,tt0121765,1021500000000,Star Wars: Episode II - Attack of the Clones
14,Action,tt0092007,533343600000,Star Trek IV: The Voyage Home
15,Action,tt0120844,913330800000,Star Trek: Insurrection
16,Action,tt0088170,454888800000,Star Trek III: The Search for Spock
17,Action,tt0079945,313369200000,Star Trek: The Motion Picture
18,Action,tt0253754,1039734000000,Star Trek: Nemesis
19,Action,tt0084726,391989600000,Star Trek II: The Wrath of Khan
20,Action,tt1014759,1267657200000,Alice in Wonderland
21,Action,tt0383574,1152223200000,Pirates of the Caribbean: Dead Man's Chest
22,Action,tt0449088,1179525600000,Pirates of the Caribbean: At World's End
23,Action,tt0367594,1121378400000,Charlie and the Chocolate Factory
24,Action,tt0325980,1057701600000,Pirates of the Caribbean: The Curse of the Bla...
25,Action,tt0112384,803772000000,Apollo 13
26,Action,tt0120737,1008716400000,The Lord of the Rings: The Fellowship of the Ring
27,Action,tt0167261,1040166000000,The Lord of the Rings: The Two Towers
28,Action,tt0167260,1071615600000,The Lord of the Rings: The Return of the King
29,Action,tt0107286,750639600000,Judgment Night
...,...,...,...,...
70,Action,tt0109303,773013600000,Blown Away
71,Action,tt0181689,1024610400000,Minority Report
72,Action,tt0119396,883004400000,Jackie Brown
73,Action,tt0425210,1140735600000,Lucky Number Slevin
74,Action,tt0401792,1112306400000,Sin City
75,Action,None,None,Sin City
76,Action,tt0099088,643586400000,Back to the Future Part III
77,Action,tt0112573,801266400000,Braveheart
78,Action,tt0070379,118364400000,Mean Streets
79,Action,tt0053125,-329187600000,North by Northwest
80,Action,tt0367882,1211061600000,Indiana Jones and the Kingdom of the Crystal S...
81,Action,tt0088247,467593200000,The Terminator
82,Action,tt0365737,1134082800000,Syriana
83,Action,tt0086216,434415600000,Rumble Fish
84,Action,tt0080117,300668400000,The Wanderers
85,Action,tt0068646,69462000000,The Godfather
86,Action,tt0071562,156034800000,The Godfather: Part II
87,Action,tt0110632,777852000000,Natural Born Killers
88,Action,tt0024216,-1162429200000,King Kong
89,Action,tt0363226,1062453600000,The Blind Swordsman: Zatoichi
90,Action,tt0180748,936914400000,In China They Eat Dogs
91,Action,tt0070328,110674800000,Live and Let Die
92,Action,tt0360717,1134514800000,King Kong
93,Action,tt0096895,614556000000,Batman
94,Action,tt0372784,1118959200000,Batman Begins
95,Action,tt0320691,1063922400000,Underworld
96,Action,tt0103064,691455600000,Terminator 2: Judgment Day
97,Action,tt0044706,-550285200000,High Noon
98,Action,tt0181852,1057096800000,Terminator 3: Rise of the Machines
99,Action,tt0496806,1181253600000,Ocean's Thirteen

In [ ]:
movies_director = graph.movies_by_movie_director("Jurassic Park")
DataFrame(movies_director)

In [ ]:
actor = graph.movies_by_actor("Michael J. Fox")
DataFrame(actor)

In [ ]:
actor_and_genre = graph.movies_by_actor_and_genre("Michael J. Fox", "Action")
DataFrame(actor_and_genre)

In [6]:
movies_other_actors_genre = graph.movies_shared_actors_with_genre("Michael J. Fox", "Animation")
DataFrame(movies_other_actors_genre)

NameError: name 'graph' is not defined

# SPARQL - WIKIDATA 

## Tutorials
[Best tutorial ever](https://janakiev.com/blog/wikidata-mayors/)

[Navegate the statements](https://en.wikibooks.org/wiki/SPARQL/WIKIDATA_Qualifiers,_References_and_Ranks)


## Explore a movie
Lets explore the [Jurassic Park](https://www.wikidata.org/wiki/Q167726) movie and see the information they show.

[Wikipedia](https://en.wikipedia.org/wiki/Jurassic_Park_(film)) uses this info.


### Useful attributes for movies
Awardsrecieved https://www.wikidata.org/wiki/Property:P166

main subject https://www.wikidata.org/wiki/Property:P921

genre https://www.wikidata.org/wiki/Property:P136

box office https://www.wikidata.org/wiki/Property:P2142

# SPARQL exploration
[Learning prefixes](https://www.mediawiki.org/wiki/Wikidata_Query_Service/User_Manual#Basics_-_Understanding_Prefixes)

In [129]:
op = 3
if op == 1:
    query = """SELECT ?movie ?movieLabel ?main_subjectLabel ?genreLabel ?box WHERE {
      ?movie wdt:P345 "tt0107290";
        wdt:P921 ?main_subject;
        wdt:P136 ?genre.
      ?movie p:P2142 ?statement.
      ?statement ps:P2142 ?box
      SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
    }"""
elif op==2:
    query = """
        SELECT 
          ?countryLabel ?population ?area ?medianIncome ?age
        WHERE {
          ?country wdt:P463 wd:Q458.
          OPTIONAL { ?country wdt:P1082 ?population }
          OPTIONAL { ?country wdt:P2046 ?area }
          OPTIONAL { ?country wdt:P3529 ?medianIncome }
          OPTIONAL { ?country wdt:P571 ?inception. 
            BIND(year(now()) - year(?inception) AS ?age)
          }
          SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
        }"""
elif op == 3: #most box_office movies
    query =  """ 
    SELECT DISTINCT ?movie ?movieLabel ?box WHERE {
      SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
      ?movie wdt:P31 wd:Q11424;
        p:P2142 ?statement;
        p:P495 ?country_statement.
      ?statement ps:P2142 ?box.
      ?country_statement ps:P495 wd:Q30.
      FILTER(?box >= 623933331 )
    }
    ORDER BY DESC (?box)
    LIMIT 100
    """

In [130]:
url = 'https://query.wikidata.org/sparql'

r = requests.get(url, params = {'format': 'json', 'query': query})
data = {}
data = r.json()

data = jmespath.search("values({headers:[head.vars], data:results.bindings | map(&values(@),@)[*][*].value})[]", data)
headers = data.pop(0)
data = DataFrame(data, columns=headers)

In [131]:
data

,movie,movieLabel,box
0,http://www.wikidata.org/entity/Q23781155,Avengers: Endgame,2677472736
1,http://www.wikidata.org/entity/Q44578,Titanic,2187463944
2,http://www.wikidata.org/entity/Q23780914,Avengers: Infinity War,2048359754
3,http://www.wikidata.org/entity/Q3512046,Jurassic World,1671713208
4,http://www.wikidata.org/entity/Q182218,The Avengers,1518812988
5,http://www.wikidata.org/entity/Q14650496,Furious 7,1516045911
6,http://www.wikidata.org/entity/Q14171368,Avengers: Age of Ultron,1405413868
7,http://www.wikidata.org/entity/Q23780734,Black Panther,1346913161
8,http://www.wikidata.org/entity/Q232009,Harry Potter and the Deathly Hallows – Part 2,1341511219
9,http://www.wikidata.org/entity/Q18486021,Star Wars: The Last Jedi,1332539889
10,http://www.wikidata.org/entity/Q21877685,Jurassic World: Fallen Kingdom,1309500000
11,http://www.wikidata.org/entity/Q19829521,The Fate of the Furious,1236005118
12,http://www.wikidata.org/entity/Q209538,Iron Man 3,1214811252
13,http://www.wikidata.org/entity/Q13619743,Minions,1159398397
14,http://www.wikidata.org/entity/Q18407657,Captain America: Civil War,1153304495
15,http://www.wikidata.org/entity/Q22998395,Aquaman,1147661807
16,http://www.wikidata.org/entity/Q232774,Transformers: Dark of the Moon,1123794079
17,http://www.wikidata.org/entity/Q131074,The Lord of the Rings: The Return of the King,1119929521
18,http://www.wikidata.org/entity/Q4941,Skyfall,1109000000
19,http://www.wikidata.org/entity/Q6151665,Transformers: Age of Extinction,1104054072
20,http://www.wikidata.org/entity/Q189330,The Dark Knight Rises,1084939099
21,http://www.wikidata.org/entity/Q19590955,Rogue One,1056000000
22,http://www.wikidata.org/entity/Q167726,Jurassic Park,1029528120
23,http://www.wikidata.org/entity/Q80379,The Hobbit: An Unexpected Journey,1021103568
24,http://www.wikidata.org/entity/Q163872,The Dark Knight,1004558444
25,http://www.wikidata.org/entity/Q49883590,Captain Marvel,994256559
26,http://www.wikidata.org/entity/Q49883590,Captain Marvel,992428923
27,http://www.wikidata.org/entity/Q206497,The Blind Side,975200000
28,http://www.wikidata.org/entity/Q102438,Harry Potter and the Philosopher's Stone,975051288
29,http://www.wikidata.org/entity/Q20762680,Jumanji: Welcome to the Jungle,962119864
...,...,...,...
70,http://www.wikidata.org/entity/Q18604504,Suicide Squad,746800000
71,http://www.wikidata.org/entity/Q189600,The Matrix Reloaded,742100000
72,http://www.wikidata.org/entity/Q2579784,Gravity,723192705
73,http://www.wikidata.org/entity/Q1765358,Captain America: The Winter Soldier,714264267
74,http://www.wikidata.org/entity/Q60506,The Twilight Saga: Breaking Dawn – Part 1,712200000
75,http://www.wikidata.org/entity/Q11220194,Dawn of the Planet of the Apes,710600000
76,http://www.wikidata.org/entity/Q116928,The Twilight Saga: New Moon,709711008
77,http://www.wikidata.org/entity/Q171453,Transformers,709709780
78,http://www.wikidata.org/entity/Q4254026,The Amazing Spider-Man 2,709000000
79,http://www.wikidata.org/entity/Q25136484,It,700381748
80,http://www.wikidata.org/entity/Q217010,The Twilight Saga: Eclipse,698500000
81,http://www.wikidata.org/entity/Q628154,Mission: Impossible – Ghost Protocol,694713380
82,http://www.wikidata.org/entity/Q212965,The Hunger Games,694400000
83,http://www.wikidata.org/entity/Q17548046,Mission: Impossible – Rogue Nation,682714267
84,http://www.wikidata.org/entity/Q23780914,Avengers: Infinity War,678815482
85,http://www.wikidata.org/entity/Q134773,Forrest Gump,677945399
86,http://www.wikidata.org/entity/Q18406872,Doctor Strange,677718395
87,http://www.wikidata.org/entity/Q13417189,Interstellar,677463813
88,http://www.wikidata.org/entity/Q183063,The Sixth Sense,672806292
89,http://www.wikidata.org/entity/Q622769,Man of Steel,668045518
90,http://www.wikidata.org/entity/Q20501835,Justice League,657924295
91,http://www.wikidata.org/entity/Q10307713,The Hunger Games: Mockingjay – Part 2,653428261
92,http://www.wikidata.org/entity/Q18199331,Fantastic Beasts: The Crimes of Grindelwald,653400000
93,http://www.wikidata.org/entity/Q181069,Star Wars Episode II: Attack of the Clones,649398328
94,http://www.wikidata.org/entity/Q1201853,Thor: The Dark World,644571402
95,http://www.wikidata.org/entity/Q18547944,The Martian,630161890
96,http://www.wikidata.org/entity/Q401976,Fast Five,626100000
97,http://www.wikidata.org/entity/Q220376,Hancock,624386746
98,http://www.wikidata.org/entity/Q327713,Men in Black 3,624000000
99,http://www.wikidata.org/entity/Q205028,Iron Man 2,623933331